:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(220, 2%, 24%);
    --blue: hsl(208, 70%, 45%);
    --tosca: hsl(198, 84%, 33%);
    --darkblue: hsl(208, 76%, 36%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.head {
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title-head {
    font-size: 3em;
}

.isi-head {
    font-weight: bolder;
}

.btn {
    text-decoration: none;
    max-width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px;
    transition: 0.25s ease;
    font-size: 14px;
    color: var(--white);
}

.head .btn, .callout .btn {
    background-color: var(--blue);
}

.head .btn:hover, .callout .btn:hover {
    cursor: pointer;
    background-color: var(--darkblue);
}

.main { height: 400px; }

.isi-main { font-weight: 200; }

.main .btn { background-color: var(--black); }

.service {
    background-color: var(--tosca);
    max-height: max-content;
    display: flex;
    justify-content: center;
    color: var(--white);
    align-items: center;
    padding: 70px 0;
    
    
}

.title { 
    color: rgb(241, 228, 47);
    text-transform: uppercase;
    font-size: 14px;
}

.service-main {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
}

.service-content {
    display: flex;
}

.item-shape {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: var(--white);
    margin-bottom: 20px;
}

.callout {
    height: 600px;
    text-align: center;
    display: block;
    background-position: center;
    background-size: cover;
}

.callout-title {
    font-size: 2em;
}

.portofolio {
    flex-wrap: wrap;
}

.port-content {
    width: 1000px;
    margin: 0 30px;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.port-item {
    width: 500px;
    height: 350px;
    background-size: cover;
}

.text {
    margin: 250px 50px 0 80px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.h2 {
    font-size: 1em;
}

.p-text {
    font-weight: 200;
}

.buttons {
    background-color: var(--tosca);
    height: 250px;
    color: var(--white);
}

.buttons p {
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-1 {
    background-color: var(--white);
    color: var(--black);
}

.btn-2 {
    background-color: var(--black);
}

.map {
    height: 400px;
    background-position: center;
    background-size: cover;
}

.btn-map {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    top: 94%;
    z-index: 1;
}

.btn-shape {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--tosca);
}

.footer {
    height: 100px;
}

.footer p {
    font-weight: 100;
    color: var(--onyx);
    margin-top: 100px;
    font-style: inherit;
    text-align: center;
    font-size: 15px;
}